@model Assignment_3V2.Models.ActorMoviesVM;

@{
    ViewData["Title"] = "Details";
}

<div class="detail-container">
    <h3 class="detail-title">@Html.DisplayFor(model => model.Actor.Name)</h3>

    <div class="col col-full item-detail-container">
    <div class="col col-lg">
        @if (Model.Actor.Image != null)
        {
            <image class="detail-image" src="@Url.Action("GetActorPhoto","Actor", new {Model.Actor.Id})" />
        }

    </div>
            <p class="detail-info"><strong>Name: </strong>@Html.DisplayFor(model => model.Actor.Name)</p>
        <p class="detail-info"><strong>IMBD: </strong><a href=@Model.Actor.IMBDLink target="_blank">@Html.DisplayFor(model => model.Actor.IMBDLink)</a></p>
        <p class="detail-info"><strong>Gender: </strong>@Html.DisplayFor(model => model.Actor.Gender)</p>
        <p class="detail-info"><strong>Age: </strong>@Html.DisplayFor(model => model.Actor.Age)</p>
        <p class="detail-info"><strong>Twitter Sentiment Score: </strong>@Html.DisplayFor(model => model.TweetWrapper.TotalSentiment)</p>

      @if(Model.Movies.Count > 0)
        {
            <p class="detail-info"><strong>Movies Played In</strong></p>
            <ul>
            @foreach(var movie in Model.Movies)
            {
                    <li><a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">@Html.DisplayFor(model => movie.Title)</a></li>
            }
            </ul> 
        }
    </div>  
    

    <div class="tweeter-table-container">
        
            
        <h3 class="tweeter-table-header">Tweeter Table</h3>
            <table class="tweeter-table">
                <thead>
                    <tr>
                        <th>Tweets</th>
                        <th>Sentiment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tweet in Model.TweetWrapper.InternalTweets)
                    {
                        
                    <tr>
                        
                            <td>@Html.DisplayFor(model => tweet.Tweet.Text)</td>
                            <td>@Html.DisplayFor(model => tweet.Sentiment)</td>
                        </tr>
                    }
                    
                </tbody>
            </table>

        
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Actor.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
